<!DOCTYPE html>
<html lang="pl">
    <head>

        <title>Calculator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </head>
    <body>

        <div class="container-fluid">
            <div class="jumbotron text-center"><h1>Kalkulator walut</h1></div>
        </div>

        <div class="container shadow border p-4">
            <form action="" method="POST">

                <div class="row">
                    <div class="col">
                        <input name="value" type="number" class="form-control" placeholder="Kwota" required="required">
                    </div>

                    <div class="col">
                        <select name="currency" class="btn border dropdown-toggle">
                            <div class="dropdown-menu">
                                {% for item in names %}
                                    <option class="dropdown-item">{{item}}</option>
                                {% endfor %}
                                <option class="dropdown-item">Złoty (PLN)</option>
                            </div>
                        </select>
                    </div>

                    <div class="col">
                        <button type="submit" class="btn btn-primary btn-block">Przelicz na</button>
                    </div> 

                    <div class="col">
                        <select name="convert" class="btn border dropdown-toggle">
                            <div class="dropdown-menu">
                                <option class="dropdown-item">Złoty (PLN)</option>
                                {% for item in names %}
                                    <option class="dropdown-item">{{item}}</option>
                                {% endfor %}
                            </div>
                        </select>
                    </div>
                </div>

                {% if value %}
                <br>

                <div class="container border rounded text-center">
                    <div class="row">
                        <div class="col text-right">
                            <h5 class="mb-0">{{value}} {{currency}}</h5>
                            <small class="text-muted text-capitalize">{{name}}</small>
                        </div>

                        <div class="col-1"><h1>=</h1></div>

                        <div class="col text-left">
                            <h5 class="mb-0">{{result}} {{convert}}</h5>
                            <small class="text-muted text-capitalize">{{cname}}</small>
                        </div>

                    </div>                    
                </div>
                {% endif %}

            </form>
        </div>

    </body>
</html>